<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>vue</title>
    <script src="js/vue.js"></script>
    <script src="js/vue-router.js"></script>
  </head>
  <body>
    <div id="app">
      <ul>
        <li v-for="person in people">{{ person }}</li>
      </ul>
      <ul>
        <li v-for="(person, index) in people">
          {{ index }} - {{ person }}
          <span v-if="index == people.length - 1">(last element)</span>
        </li>

      </ul>
    </div>
    <script src="js/app.js"></script>

  </body>
</html>
